{{!-- The following component displays Ember's default welcome message. --}}
<div class="h-full bg-white">

  {{!-- <MainNav /> --}}

  <div class="container min-h-screen">
    <nav class="text-center p-5 border-b-2">
      <span class="font-semibold text-xl tracking-tight">{{this.settings.title}}</span>
    </nav>
    <Ble />
    {{outlet}}
  </div>
</div>


{{outlet}}